* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-image:url(bg4.jpg);
}

.card{
        width: 100%;
        max-width: 470px;
        background-image:url(bg4.jpg);
        color: #fff;
        margin: 100px auto;
        border-radius: 20px;
        padding:40px 35px;
        text-align: center;  
        border: 1px solid rgb(255, 255, 255); 
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    font-weight: 600;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height:60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    font-weight: 600;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right:10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size:14px;
    margin-top: 10px;
    display:none;
}
@media only screen and (max-width: 483px) {
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius:30px;
        flex: 1;
        margin-right: 16px;
        font-size: 16px;
        font-weight: 600;
        width:50px
    }
  }
  @media only screen and (max-width: 360px) {
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius:30px;
        flex: 1;
        margin-right: 16px;
        font-size: 12px;
        font-weight: 600;
        width:40px
    }
}
    @media only screen and (max-width: 330px) {
        .search input{
            border: 0;
            outline: 0;
            background: #ebfffc;
            color: #555;
            padding: 10px 25px;
            height: 60px;
            border-radius:30px;
            flex: 1;
            margin-right: 16px;
            font-size: 10px;
            font-weight: 600;
            width:40px
        }
  }
  @media only screen and (max-width: 460px) {
    .humidity{
    font-size: small;
    }
    .wind{
        font-size: small;
    }
    .hum{
        width:20px;
        height:20px
    }
}
@media only screen and (max-width: 360px) {
    .humidity{
    font-size: xx-small;
    }
    .wind{
        font-size: xx-small;
    }
    .hum{
        width:5px;
        height:5px;
    }
}